{% extends "board/layout.html" %}

{% block content %}

  <!-- About Section -->
  <section class="about" id="about">
     <div class="articleBox">
        <table>
            <thead><td> <h1>
                    {{ usertitle }} /
                       {{ username }}
                </h1>
            </td> </thead>
            <tr>
                <td>
                    {{ usercontent }}
                </td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>
      <div class="articleBox">
        <table>
            <thead><td>Title</td> </thead>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>
      <div class="articleBox">
        <table>
            <thead><td>Title</td> </thead>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>

  </section>
{% endblock %}
