<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Baord Study</title>
<link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
    <section class="logo">
            <a href="">
    <h4 class="logo">ICON</h4>
    </a>
    </section>

    <section class="searchBox">
        <form>
            <input type="text">
        </form>
    </section>
    <section class="naviInfo">
    <img src="images/search.png" width="30" height="30" alt=""/> </section>
  </header>

  <!-- About Section -->
  <section class="about" id="about">
     <div class="articleBox">
        <table>p
            <thead><td> <h1>
                    {{ usertitle }} /
                       {{ username }}
                </h1>
            </td> </thead>
            <tr>
                <td>
                    {{ usercontent }}
                </td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>
      <div class="articleBox">
        <table>
            <thead><td>Title</td> </thead>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>
      <div class="articleBox">
        <table>
            <thead><td>Title</td> </thead>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
            </tr>
            <tr>
                <td>Like &nbsp;&nbsp; / &nbsp;&nbsp; Comment</td>
            </tr>        
        </table>
    </div>

  </section>

  <!-- Parallax Section -->

  <!-- More Info Section -->
  <footer>
     <section class="footer_banner" id="contact">
        <ul>
            <li><img src="images/talk.png" width="30" height="30" alt=""/></li>
            <li><img src="images/people.png" width="30" height="30" alt=""/></li>
            <li><img src="images/earth.png" width="30" height="30" alt=""/></li>
            <li><img src="images/menu.png" width="30" height="30" alt=""/></li>
        </ul>
    </section>
  </footer>
  <!-- Footer Section -->

</div>
<!-- Main Container Ends -->
</body>
</html>
