<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Baord Study</title>
<link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
    <section class="logo">
            <a href="">
    <h4 class="logo">ICON</h4>
    </a>
    </section>

    <section class="searchBox">
        <form>
            <input type="text">
        </form>
    </section>
    <section class="naviInfo">
    <img src="images/search.png" width="30" height="30" alt=""/> </section>
  </header>

  <!-- Article Section -->
  <section class="contents" id="content">
     <div class="articleBox">
    
        <table>
        <form action="{% url 'board:gotolist' %}" method="POST">{% csrf_token %}
            <thead>
              <td>게시물 올리기</td> </thead>
            <tr>
                <td><input placeholder="글쓴이의 이름" size="80" name="username"></td>
            </tr>
            <tr>
                <td><input placeholder="글 비밀번호" size="80" name="password"></td>
            </tr>
            <tr>
                <td><input placeholder="제목을 입력해주세요" size="80" name="usertitle"></td>
            </tr>
            <tr>
                <td><textarea id="filed" cols="80" rows="10" placeholder="내용을 입력해주세요" name="usercont"></textarea>
                </td>
            </tr>
            <tr>
                <td><input type="submit" id="btnSubmit"></td>
 
            </tr>
        </form>    
            
                    
        </table>
    </div>

  </section>

  <!-- Parallax Section -->

  <!-- More Info Section -->
  <footer>
     <section class="footer_banner" id="contact">
        <ul>
            <li><img src="images/talk.png" width="30" height="30" alt=""/></li>
            <li><img src="images/people.png" width="30" height="30" alt=""/></li>
            <li><img src="images/earth.png" width="30" height="30" alt=""/></li>
            <li><img src="images/menu.png" width="30" height="30" alt=""/></li>
        </ul>
    </section>
  </footer>
  <!-- Footer Section -->

</div>
<!-- Main Container Ends -->
</body>
</html>
